header {
  background-color: #4a90e2;
  color: white;
  margin: 10px;
  padding: 15px;
  border: 3px solid #2c3e50;
}

main {
  background-color: #f1f1f1;
  color: #333;
  margin: 10px;
  padding: 15px;
  border: 3px solid #999;
}

footer {
  background-color: #333;
  color: white;
  margin: 10px;
  padding: 15px;
  border: 3px solid #111;
}

h2 {
  font-size: 1.8rem;
  text-decoration: underline;
}

.destaque {
  font-style: italic;
  background-color: #fff4cc;
  padding: 3px;
}

#importante {
  border-top: 4px solid #ff6600;
  padding-top: 5px;
}
