.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

  margin-top: 20px;

  .movie-card h2 {
    word-wrap: break-word;
    word-break: break-all;
    max-width: 20ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
